:root {
  --primary-color: #05287f;
  --secondary-color: #eaeefc;
  --main-bg: #eef2f6;

  --gray-border: #d1d5db;
  --blue-border: #a4cafe;
  --success-border: #84e1bc;

  --success: #046c4e;
  --blue: #1a56db;
}

#root {
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  font-family: 'NunitoSans', sans-serif;
}