:root {
  --primary-color: #05287f;
  --secondary-color: #eaeefc;
  --main-bg: #f7fbff;

  --gray-border: #d1d5db;
  --blue-border: #a4cafe;
  --success-border: #84e1bc;

  --success: #046c4e;
  --blue: #1a56db;

  --dark-blue: #0538b5;

  --light-blue: #0066ffa3;
  --border-color: #0737b180;
  --border-white: #e5e4e9;
}

#root {
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* font-family: 'NunitoSans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}